.panel {
  background: white;
  // border-top: px solid #35BDB2;
  // border-top-left-radius: 2.5px;
  // border-top-right-radius: 2.5px;
  min-height: 5rem;
  margin: 0 -15px 20px -15px;
  .panel-header {
    border-bottom: .1rem solid #f8f8f8;
    padding: .5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    p.header {
      font-size: 16px;
      font-weight: bold;
    }
    p.more {
      color: #646464;
    }
  }
  .panel-body {
    padding: 1rem;
    font-size: 14px;
    min-height: 120
  }
  .panel-footer {
    padding: 0 1rem;
    font-size: 14px;
  }
}
