.red {
  color: #fa5e5b;
}
.teal {
  color: teal;
}
.green {
  color:#16c98d;
}
.yellow {
  color: #feef6d;
}
.orange {
color: #ffc83f;
}
.plum {
  color: #bf538d;
}
.beige {
  color: #cfcbaf;
}

.mauve{
  color: #684e79;
}
