html{
  font-size: 12px;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}
ul{
  list-style: none;
}
h1,h2,h3,h4,h5,h6,p,ul,li,ul>li,ul>ul{
  margin: 0;
  padding: 0;
}
a, body, h1, h2, h3, h4, h5, h6, html,p {
  font-family: PingFang SC, Helvetica Neue, Helvetica, Arial, Hiragino Sans GB, Microsoft Yahei, STHeiti, "sans-serif";
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
}
